<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>
</head>
<body id="body-pd">

  <h1>Students</h1>
  <p>Download this template and have students fill it out. Then, reupload the template.</p>
  <%= link_to '<button type="button">Download</button>'.html_safe, students_path(format: :xlsx)%> |
  <%= link_to '<button type="button">Upload</button>'.html_safe, new_students_import_path%>
  <table class="table table-striped">
    <thead>
      <tr>
        <%# <th>StudentID</th> %>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <%# <td><%= student.id </td> %>
          <%# <td><%= student.Student_ID</td> %>
          <td><%= student.First_Name %></td>
          <td><%= student.Last_Name %></td>
          <td><%= student.Phone_Number %></td>
          <td><%= student.Email %></td>
          <td><%= link_to '<i class="bx bx-search nav_icon"></i>'.html_safe, student %></td>
          <td><%= link_to '<i class="bx bx-pencil nav_icon"></i>'.html_safe, edit_student_path(student) %></td>
          <td><%= link_to '<i class="bx bx-trash nav_icon"></i>'.html_safe, student, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '<button type="button">Add Student</button>'.html_safe, new_student_path%> |
  <%= link_to '<button type="button">Delete All</button>'.html_safe, deleteAll_students_path, :method => :get,
    data: { confirm: 'Are you sure you want to delete all students?' } %>

</body>
</html>

<script>
	// highlight the current page
	var element = document.getElementById("2");
	element.classList.add("active");
</script>