<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message_history.message_id %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @message_history.date_sent %>
</p>

<p>
  <strong>Student:</strong>
  <%= @students.First_Name.where(id = message_history.student_id) %>
</p>

<%= link_to 'Edit', edit_message_history_path(@message_history) %> |
<%= link_to '<button type="button">Back</button>'.html_safe, message_histories_path %>
