<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message_history.message_id %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @message_history.date_sent %>
</p>

<p>
  <strong>Student:</strong>
  <%= @message_history.student_id %>
</p>

<%= link_to '<button type="button">Edit</button>'.html_safe, edit_message_history_path(@message_history) %> |
<%= link_to '<button type="button">Back</button>'.html_safe, message_histories_path %>

<script>
	// highlight the current page
	var element = document.getElementById("3");
	element.classList.add("active");
</script>